body{
  background-color: whitesmoke;
  text-align: center;
}
h1{
  color: blue ;
}
label{
  font-size: 22px;
  font-weight: 500;
}
input{
  background-color: white;
  border: 1px solid blue;
  height: 20px;
  padding: 6px;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 15px;
}
input:focus{
  border: 1px solid green;
}
button{
  margin-top: 20px;
  width: 90px;
  height: 30px;
  background-color: white;
  border: 1px solid gray;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}
button:hover{
  background-color: black;
  color:white;
}
a{
  color: blueviolet;
  text-decoration: none;
  font-size: 25px;
}